<html lang="en" data-layout-decorate="~{main/layout}"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Update Password</title>
</head>
<body>
	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<!-- <h3>Employee Form</h3> -->
				</div>

				<!-- <div class="title_right">
					<div
						class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div> -->
			</div>

			<div class="alert alert-danger" th:text="${pageMsg}"
				th:if="${pageMsg!=null}">
				</div>
			
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<a th:href="@{/userAuth/login}"
								class="btn btn-primary btn-sm mb-3"> Return to Home </a>
							<div class="clearfix"></div>
						</div>

						<div class="x_content">
							<form name="MAINFORM" action="#" th:action="@{/userAuth/updatePassword}"
								th:object="${currentUser}" method="POST" data-parsley-validate
								class="form-horizontal form-label-left">
								<div class="form-group">
									<input type="hidden" th:field="*{id}" />
								</div>
								<div class="form-group">
									<input class="form-control col-md-7 col-xs-12" type="password"
										name="current_password" placeholder="Curent Password" required />
								</div>
								<div class="form-group">
									<input class="form-control col-md-7 col-xs-12" type="password"
										name="new_password_1" placeholder="New Password" required  lenght=8/>
								</div>
								<div class="form-group">
									<input class="form-control col-md-7 col-xs-12" type="password"
										name="new_password_2" placeholder="Re-Enter Password" required  lenght=8/>
								</div>
																<div class="ln_solid"></div>
								<div class="form-group">
									<button type="button" class="btn btn-info col-2" onclick="javascript:validatePassword();">Update Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- page content -->
		<script>
			$(document).ready(function() {
				$("#date").datepicker({
					dateFormat : "MM/dd/yyyy"
				});
			});

			$(document)
					.ready(
							function() {
								var date_input = $('input[name="date"]'); //our date input has the name "date"
								var container = $('.bootstrap-iso form').length > 0 ? $(
										'.bootstrap-iso form').parent()
										: "body";
								date_input.datepicker({
									format : 'mm/dd/yyyy',
									container : container,
									todayHighlight : true,
									autoclose : true,
								})
							});
			
			function validatePassword()
			{
				var obj = document.MAINFORM;
				var current_password = obj.current_password.value;
				var new_password_1 = obj.new_password_1.value;
				var new_password_2 = obj.new_password_2.value;
				
				if(current_password.length == 0)
				{
					alert("Enter current password");
				}
				else if(!(new_password_1 === new_password_2))
				{
					alert("New Password does not  match");
				}
				else
				{
					obj.submit();
				}
				
				
			}
		</script>
	</body>	
</html>