<html lang="en" data-layout-decorate="~{main/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>New Request</title>
</head>
<body>
	 <!-- page content -->
         <div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Approve/Reject Request</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                   <!--  <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span> -->
                  </div>
                </div>
              </div>
            </div>
            
          <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                   <a th:href="@{/userAuth/login}" class="btn btn-primary btn-sm mb-3">
			        Return to Home </a>
                       <div class="clearfix"></div>
                  </div>
	 <div class="x_content">
		<table id="ManagerRequestTable" class="table table-bordered table-striped">
		<!-- <h2 th:text="${man.firstname} + ' ' + ${man.lastname} + '&quot;s employee requests'"></h2> -->

			<thead class="thead-dark">
				<tr>
					<th>Type</th>
					<th>Subtype</th>
					<th>Description </th>
					<th>Date</th>
					<th>Name</th>
					<th>Department</th>
					<th>Asset Name</th>
					<th>Units </th>
					<th>Priority</th>
					<th>Status </th>
					<th>Assigned To </th>
					<th>Assigned Date</th>
					<th>Closed Before </th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="req : ${reqList}">
					<!-- <td th:text=${req.id}></td> -->
					<td th:text="${req.requesttype}" />
					<td th:text="${req.requestsubtype}" />
					<td th:text="${req.requestdescription}" />
					<td th:text="${req.requestdate}" />
					<td th:text="${req.requestfirstname} +' '+${req.requestlastname}" />
					<td th:text="${req.requestdepartmentname}" />
					<td th:text="${req.requestassetname}" />
					<td th:text="${req.requestunits}" />
					<td th:text="${req.requestpriority}" />
					<td th:text="${req.requeststatus}" />
					<td th:text="${req.requestassignedto}" />
					<td th:text="${req.requestassigneddate}" />
					<td th:text="${req.requestclosebefore}" />
					<td style="width: 20%">
						<a th:href="@{/requests/approve(requestid=${req.id})}" class="btn btn-primary btn-sm mb-3" > Approved </a>
						<a th:href="@{/requests/reject(requestid=${req.id})}" class="btn btn-danger btn-sm mb-3" onclick="if (!(confirm('Are you sure you want to Reject'))) return false"> Rejected </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		</div>
		</div>
		</div>
		</div>
		
	</div>
	
</body>
</html>