<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Demo</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


</head>
<body>
	<div class="container">
		<h3>Add New Role</h3>
		<a th:href="@{/roles/list}" class="btn btn-primary btn-sm mb-3">
			Back </a>
		<form name="MAINFORM" action="#" th:action="@{/roles/save}"
			th:object="${roleRecord}" method="POST">
			<input class="form-control mb-4 col-4" type="text" th:field="*{id}"
				placeholder="Role ID" /> 
			<input class="form-control mb-4 col-4"
				type="text" th:field="*{roleName}" placeholder="Role Name" /> 
				
			<input
				class="form-control mb-4 col-4" type="text" th:field="*{roleAccess}"
				placeholder="Access Level" />

			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
	</div>
</body>
</html>