<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Roles</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<!--<style>
	div.align{
		text-align: center;
	}
	</style>

	<div class="align">
	-->
		<h3>Role Search</h3>
		<form name="MAINFORM" action="#" th:action="@{/roles/search}"
		th:object="${roleName}" method="POST">
			<input class="form-control mb-4 col-4" type="text" th:field="*{roleName}"
				placeholder="Role Name" /> 
		<button type="submit" class="btn btn-info col-2">Search</button>
	</form>


</head>
<body>

</body>
</html>