<html lang="en" data-layout-decorate="~{main/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Department Details</title>
</head>
<body>
	 <!-- page content -->
         <div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Department List</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                 </div>
              </div>
            </div>
            
          <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
			        <a th:href="@{/departments/AddDepartment}" class="btn btn-primary btn-sm mb-3"> Add Department </a>
                       <div class="clearfix"></div>
                  </div>
             <div class="x_content">
			<!-- Search bar -->
				<form data-parsley-validate class="form-horizontal form-label-left" action="#" th:action="@{/departments/search}" method="POST">
		  			<div class="form-group">
		  			<input class="form-control col-md-7 col-xs-12" type="text" th:value="${deptName}" name="deptName" placeholder="Search By Department Name" aria-label="Search">
		  			</div>
		  			<div class="input-group-append">
				    	<button class="btn btn-outline-secondary" type="submit">Search</button>
				  	</div>
				</form>
			<!-- Search bar -->
			<div class="row">
              <div class="col-md-12 col-md-12 col-md-12">
                <div class="x_panel">
    
                  <div class="x_content">
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>	
                    <canvas id="bar-chart-grouped" width="100" height="40"></canvas>
                 	
		 	
				
			</div>
          </div>
           </div>
           	
		<script th:inline="javascript">
		new Chart(document.getElementById("bar-chart-grouped"), 
			{
		    type: 'bar',
		    data: {
		      labels: /*[[${graphName}]]*/,
		      datasets: [
		        {
		          label: "Manager",
		          backgroundColor: "rgba(255, 99, 132, 0.2)",
		          data: /*[[${graphManData}]]*/,
		          borderColor: "rgb(255, 99, 132)",
		          borderWidth:2
		        }, {
		          label: "Employee",
		          backgroundColor: "rgba(54, 162, 235, 0.2)",
		          data: /*[[${graphEmpData}]]*/,
		          borderColor: "rgb(54, 162, 235)",
		          borderWidth:2
		        }
		      ]
		    },
		    options: {
		      title: {display: true, text: 'Department Head Count'},
		      scales: {yAxes: [{ticks: { min: 0, max: [[${scaleMax}]], stepSize:1 } }]}
		    }
		});
		
		</script>		
	 
           
		<br>
		<!-- <a th:href="@{/departments/AddDepartment}" class="btn btn-primary btn-sm mb-3"> Add Department </a> -->
		<div class="x_content">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Department Name</th>
					<th style="width: 20%">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dept : ${departments}">
					<td th:if="${dept.deptName} != 'Resource Pool'" th:text="${dept.deptName}"></td>

					<td th:if="${dept.deptName} != 'Resource Pool'" style="width: 30%">
						<a th:href="@{/departments/detail(deptid=${dept.deptId})}" class="btn btn-outline-info btn-sm mb-3"> Details </a>
						<a th:href="@{/departments/UpdateDepartment(deptid=${dept.deptId})}" class="btn btn-outline-primary btn-sm mb-3"> Update </a>
						<a th:href="@{/departments/delete(deptid=${dept.deptId})}" class="btn btn-outline-danger btn-sm mb-3" onclick="if (!(confirm('Are you sure you want to delete this department'))) return false"> Delete </a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		
	
	</div>
</body>

<script th:inline="javascript">
		new Chart(document.getElementById("bar-chart-grouped"), {
		    type: 'bar',
		    data: {
		      labels: /*[[${graphName}]]*/,
		      datasets: [
		        {
		          label: "Manager",
		          backgroundColor: "rgba(255, 99, 132, 0.2)",
		          data: /*[[${graphManData}]]*/,
		          borderColor: "rgb(255, 99, 132)",
		          borderWidth:2
		        }, {
		          label: "Employee",
		          backgroundColor: "rgba(54, 162, 235, 0.2)",
		          data: /*[[${graphEmpData}]]*/,
		          borderColor: "rgb(54, 162, 235)",
		          borderWidth:2
		        }
		      ]
		    },
		    options: {
		      title: {display: true, text: 'Department Head Count'},
		      scales: {yAxes: [{ticks: { min: 0, max: [[${scaleMax}]], stepSize:1 } }]}
		    }
		});
		
		</script>		
</html>