<html lang="en" data-layout-decorate="~{main/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	

<title>Department Details</title>
</head>
<body>
       <!-- page content -->
         <div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Department Details</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
  
                </div>
              </div>
            </div>
            
          <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                   	<a th:href="@{/departments/list}" class="btn btn-primary btn-sm mb-3">
			        BACK </a>
                       <div class="clearfix"></div>
                  </div>

			
			 <div class="x_content">
			 	
					<h1 th:text="${dept.deptName}" ></h1>
					<br/>
					<a th:href="@{/departments/AddManager(deptid=${dept.deptId})}" class="btn btn-primary btn-sm mb-3"> Add Manager </a>
					<h5>Department Managers</h5>	
					
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th style="width: 10%">Name</th>
								<th style="width: 30%">Email</th>
								<th style="width: 15%">Phone</th>
								<th style="width: 10%">Action</th>
							</tr>
						
						</thead>
					
						<tbody>
							<tr th:if="${manList.empty}"><td colspan="4" align="center">No Manager Available</td></tr>
							<tr th:each="man : ${manList}">
								
								<td style="width: 10%" th:text="${man.deptEmpId.firstname} + ' ' + ${man.deptEmpId.lastname}"/>
								<td style="width: 30%" th:text="${man.deptEmpId.email}" />
								<td style="width: 15%" th:text="${man.deptEmpId.phoneNumber}" />
								<td style="width: 10%">
									<a th:href="@{/departments/removeManager(empid=${man.deptEmpId.id}, deptid=${dept.deptId})}" class="btn btn-outline-danger btn-sm mb-3" onclick="if (!(confirm('Are you sure you want to remove this manager'))) return false"> Remove Manager</a>
									</td>
							</tr>
			
						</tbody>
			
					</table>
			</div>
					<br/><br/><br/>
					 <div class="x_content">
					<a th:href="@{/departments/AddEmployee(deptid=${dept.deptId})}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>
					<h5>Employees</h5>
					
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th style="width: 10%">Name</th>
								<th style="width: 30%">Email</th>
								<th style="width: 15%">Phone</th>
								<th style="width: 10%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${empList.empty}"><td colspan="4" align="center">No Employee Available</td></tr>
							<tr th:each="emp : ${empList}">
								<td style="width: 10%" th:text="${emp.getFirstname() + ' ' + emp.getLastname() }" />
								<td style="width: 30%" th:text="${emp.getEmail()}" />
								<td style="width: 15%" th:text="${emp.getPhoneNumber()}" />
								<td style="width: 10%"><a th:href="@{/departments//removeEmployee(empid=${emp.Id}, deptid=${dept.deptId})}" class="btn btn-outline-danger btn-sm mb-3" onclick="if (!(confirm('Are you sure you want to remove this employee'))) return false"> Remove Employee</a></td>
							</tr>
						</tbody>
					</table>
					</div>
					</div>
					</div>
					</div>
					</div>
					
				</div>
</body>
</html>