<!-- <!DOCTYPE html>
<html>
<head>
<title>Asset Management</title>

Required meta tags
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

Bootstrap CSS
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<script>
function logout()
{
    self.parent.location="/logout"
}
</script>
<body>

<div width='80%' align="right">
	<span align="right">Update Info | </span>
	<span align="right">Change Password | </span>
	<span align="right" onclick="logout()">Logout &nbsp; </span>
</div>
</body>


</html> -->
<script type="text/javascript">
function logout()
{
    self.parent.location="/logout"
}


</script>

<div class="top_nav" data-th-fragment="top-navigation">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
			
            <ul class="nav navbar-nav navbar-right">
                <li class="" onclick="showHideMenu();">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" th:switch="${session.user.getUser().getGender()}">
                    
               			 	<img src="/images/img.jpg" alt="" th:case="'M'">
                			<img src="/images/cropper.jpg" alt="..." th:case="'F'">
              				<label th:text="${session.user.getUser().getName()}" />
              			
                        	<span class=" fa fa-angle-down" onclick="javascript:showHideMenu()"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="display:none;" id="pullovermenu" onclick="showHideMenu();">
                        <li><a th:href="@{/userAuth/Profile}">Profile</a></li>
                        <li><a th:href="@{/userAuth/updatePassword}">Change Password</a></li>
                        <li><a th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <!-- 	<i class="fa fa-envelope-o"></i> -->
                       <!--  <span class="badge bg-green">6</span> -->
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <!-- <li>
                            <a>
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </nav>
    </div>
</div>
