<!DOCTYPE html>
<html>
<head>
<title>Asset Management</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<script>
function logout()
{
    self.parent.location="/logout"
}
</script>
<body>

<div width='80%' align="right">
	<span align="right">Update Info | </span>
	<span align="right">Change Password | </span>
	<span align="right" onclick="logout()">Logout &nbsp; </span>
</div>
</body>


</html>