<!-- <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Asset Management</title>


<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body width="50%" align="center">

	&nbsp;&nbsp;Welcome <b><span th:text="${employee.getName()}"></span></b><br>
	&nbsp;&nbsp;Manager : <b><span th:text="${employee.getManagerName()}"></span></b><br>
	&nbsp;&nbsp;<a href="/requests/showFormForAdd" target="MAIN">Submit a New Request</a><br>
	&nbsp;&nbsp;<a href="/requesttypes/showFormForAdd" target="MAIN">Submit a New Request Type</a><br>
	&nbsp;&nbsp;<a href="/requestsubtypes/showFormForAdd" target="MAIN">Submit a New Request Sub Type</a><br>
</body>


-->
 
 <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
   <div class="menu_section">
                <h3>General</h3>
                &nbsp;&nbsp;Welcome <b><span th:text="${session.user.getUser().getName()}"></span></b><br>
				&nbsp;&nbsp;Reporting Manager : <b><span th:text="${session.user.getUser().getManagerName()}"></span></b><br>
				&nbsp;&nbsp;Position &nbsp;&nbsp;&nbsp;: <b><span th:text="${session.user.getUser().getRole().getRoleName()}"></span></b><br>
				&nbsp;&nbsp;LastLogin : <b><span th:text="${session.user.getLastLogin().toString()}"></span></b><br>
                <ul class="nav side-menu">
                  <!-- <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                      <li><a href="index2.html">Dashboard2</a></li>
                      <li><a href="index3.html">Dashboard3</a></li>
                    </ul>
                  </li> -->
                  <li><a><i class="fa fa-edit"></i> Request Management <span class="fa fa-chevron-down"></span></a>

   					<div th:switch="${session.user.getUser().getRole().getRoleName()}">
   					
	   					 <ul class="nav child_menu" th:case="'Employee'"> <!--  Employee -->
	                   		 <li><a data-th-href = "@{../requests/showFormForAdd}">Add Request </a></li> 
	                    </ul>
                    
	                    <ul class="nav child_menu" th:case="'Manager'"> <!--  Manager-->
		                     <li><a data-th-href = "@{../requests/showFormForAdd}">Add Request </a></li> 
		                     <li><a data-th-href = "@{../requests/managers}">Approve Reject Requests</a></li>
		                   <!--   <li><a href="/requests/approveRejectReq" target="MAIN">Approve/Reject Request</a></li>
							 <li><a href="/employees/requestResource" target="MAIN">Request a Resource from Resource Pool</a></li> -->
						 </ul>
					 
	                    <ul class="nav child_menu" th:case="'Admin'"> <!--  Admin -->
		                    <li><a data-th-href = "@{../requests/showFormForAdd}">Add Request </a></li> 
		                    
		                    <li><a data-th-href = "@{../requesttypes/showFormForAdd}">Add Request Type </a></li>
		                    <li><a  data-th-href = "@{../requestsubtypes/showFormForAdd}">Add Request SubType</a></li> 
		                    <li><a  data-th-href = "@{../requestsstatus/showFormForAdd}">Add Request Status</a></li>
		                    
							
							
							<li><a data-th-href = "@{../requests/managers}">Approve Reject Requests</a></li>
	                    </ul>
                    
                   </div>
                  </li>
                  
                  <li > <!--  Admin -->
                  		<a><i class="fa fa-table"></i> Resource Management <span class="fa fa-chevron-down"></span></a>
                 		<div th:switch="${session.user.getUser().getRole().getRoleName()}">
	                    	<ul class="nav child_menu" th:case="'Admin'">
			                  <li><a data-th-href = "@{../employees/showFormForAdd}"> Add Employee </a></li>
		                    
						    <li><a data-th-href = "@{../roles/showFormForAdd}"> Add Roles </a></li>
		                    <li><a data-th-href = "@{../inventoryInfo/showFormForAdd}"> Add Inventory Information </a></li>
		                    <li><a data-th-href = "@{../inventory/showFormForAdd}"> Inventory Form </a></li>
		                    <li><a data-th-href = "@{../departments/AddDepartment}"> Add Department </a></li>
                   			<li><a data-th-href = "@{../requestsPriority/showFormForAdd}"> Add Priority </a></li>
              
							</ul>
                         </div>
                     </li>
                   
                  
                  	<li > <!--  Admin -->
                  		<a><i class="fa fa-table"></i> Master Data Admin <span class="fa fa-chevron-down"></span></a>
                 		<div th:switch="${session.user.getUser().getRole().getRoleName()}">
	                    	<ul class="nav child_menu" th:case="'Admin'">
			                    <li><a data-th-href = "@{../requests/list}"> Request Table </a></li> 
			                    <li><a data-th-href = "@{../requesttypes/list}">Request Type Table </a></li> 
			                    <li><a  data-th-href = "@{../requestsubtypes/list}">Request SubType Table</a></li> 
			                    <li><a  data-th-href = "@{../requestsstatus/list}">Request Status Table</a></li> 
			                    <li><a  data-th-href = "@{../employees/list}">Employee Table</a></li> 
			                    <li><a  data-th-href = "@{../requestsPriority/list}">Request Priority Table</a></li> 	                    
	                    		<li><a  data-th-href = "@{../departments/list}">Department Table</a></li> 
	                    		
	                    		<li><a  data-th-href = "@{../roles/list}">Role Table</a></li>
								<li><a data-th-href = "@{../inventoryInfo/list}"> Inventory Information Table </a></li>
			                    <li><a data-th-href = "@{../inventory/list}"> Inventory Table </a></li>
              
							</ul>
                         </div>
                     </li>
<!--                   <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Chart JS</a></li>
                      <li><a href="chartjs2.html">Chart JS2</a></li>
                      <li><a href="morisjs.html">Moris JS</a></li>
                      <li><a href="echarts.html">ECharts</a></li>
                      <li><a href="other_charts.html">Other Charts</a></li>
                    </ul>
                  </li> -->
<!--                   <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                      <li><a href="fixed_footer.html">Fixed Footer</a></li>
                    </ul>
                  </li> -->
                </ul>
              </div>
<!--               <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="e_commerce.html">E-commerce</a></li>
                      <li><a href="projects.html">Projects</a></li>
                      <li><a href="project_detail.html">Project Detail</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="profile.html">Profile</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="page_403.html">403 Error</a></li>
                      <li><a href="page_404.html">404 Error</a></li>
                      <li><a href="page_500.html">500 Error</a></li>
                      <li><a data-th-href="@{Home}">Plain Page</a></li>
                      <li><a href="login.html">Login Page</a></li>
                      <li><a data-th-href="@{pricing-table}">Pricing Tables</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                        </li>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>                  
                  <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                </ul>
              </div> -->

            </div>